<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
   <h1>HomePage</h1>


<a href="/user-login/logout" class="btn btn-success" style="float: right;">logout</a>
  </div>
</nav>


<section>
    <div class="col-12">
        
    </div>
</section>





